.confirm-playlist-song-artist {
    width: fit-content;
    margin-top: 0.5vw;
    margin-bottom: 1vw;
    margin-left: 1vw;
    font-size: 12px;
}

.confirm-playlist-song-album {
    width: fit-content;
    margin-right: auto;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    font-size: 12px;
}

.confirm-playlist-song-name {
    width: fit-content;
    margin-right: auto;
    margin-top: 1vw;
    margin-bottom: 0.5vw;
    margin-left: 1vw;
    font-size: 14px;
    font-weight: bold;
}
  
.confirm-playlist-bulletpoint {
    width: fit-content;
    margin: auto;
    margin-top: 0.5vw;
    margin-left: 0.25vw;
    margin-right: 0.25vw;
}

.playlist-song-album-artist-wrapper {
    display: flex;
}

.playlist-song-img {
    width: 80%;
    margin: auto;
}
  
.playlist-song-img-wrapper {
    display: flex;
    width: 35%;
    margin: auto;
}

.playlist-song-info-wrapper {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: auto;
    font-family: var(--subtext-font);
}

.playlist-song-outerwrapper {
    display: flex;
}

.playlist-song-num {
    margin: auto;
    font-family: var(--subtext-font);
}

.playlist-song-num-wrapper {
    margin-left: auto;
    margin-right: 0;
    display: flex;
}

@media screen and (max-width: 665px) {
    .playlist-song-outerwrapper {
        width: 80%;
    }
}