.song-wrapper {
    display: flex;
    margin: auto;
    margin-right: auto;
    margin-left: 0;
    padding: 5px;
    width: fit-content;
}
  
.song-wrapper:hover {
    cursor: pointer;
    color: #2d71de;
}

.song-num {
    width: fit-content;
}
  
.song-title {
    width: fit-content;
    margin-left: 1vw;
}