@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&family=Ultra&display=swap');


:root {
  --logo-font: "Ultra", serif;
  --subtext-font: 'Open Sans', sans-serif;
  --blue: #14213d;
  --blue-hover: #003459;
  --text-color: #ffffff;
  --error-color: #e80c1f;
  --alt-color: #e5e5e5;
  --header-font: 'Montserrat', sans-serif;
}

html {
  background-color: var(--alt-color);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: white;
  text-decoration: none;
}

.App {
  background-color: var(--alt-color);
  width: 100vw;
  min-height: 100vh;
  text-align: center;
}

.home-outer-wrapper {
  min-height: 92vh;
  display: flex;
  flex-direction: column;
}

.home-wrapper {
  width: fit-content;
  height: fit-content;
  margin: auto;
  margin-top: 30vh;
  margin-bottom: 30vh;
}

.home-page-blurb {
  font-size: 28px;
  color: var(--blue);
  width: 90vw;
  margin: auto;
  margin-bottom: 2vw;
  font-family: var(--header-font);
}

.search-input-wrapper {
  margin: auto;
  display: flex;
  background-color: white;
  width: fit-content;
  font-size: 20px;
  border-radius: 50px;
  border: none;
  color: black;
  font-family: var(--subtext-font);
}

.search-input-wrapper:focus-within {
  outline: 1px solid var(--blue);
}

#test-search-input {
  width: 45vw;
  height: 3vw;
  font-size: 20px;
  border-radius: 50px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 0px;
  border: none;
  color: black;
  margin: auto;
  font-family: var(--subtext-font);
}

#test-search-input:focus {
  outline: none;
}

.delete-search-icon-wrapper {
  display: flex;
  width: 4vw;
}

.delete-search-icon {
  transform: rotateY(0deg) rotate(45deg);
  color: black;
  margin: auto;
  padding: 10px;
  height: 2vw;
}

.delete-search-icon:hover {
  cursor: pointer;
}

.search-input-icon-wrapper {
  display: flex;
  color: white;
  background: var(--blue);
  padding: 15px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: inherit;
}

.search-input-icon {
  margin: auto;
}

.search-results {
  background-color: white;
  width: 50vw;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  margin-top: 10px;
  border-radius: 5px;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
  transition: box-shadow 250ms ease-in;
}

.search-result {
  width: 60vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  margin: auto;
  margin-left: 0;
}

.search-result:hover {
  color: var(--blue);
  cursor: pointer;
}

.search-result-name {
  color: black;
  font-family: var(--subtext-font);
  width: fit-content;
  margin: 0;
}

.search-result-name:hover {
  cursor: pointer;
  color: #5a87d1;
}

.search-results-empty-txt {
  font-size: 20px;
  font-family: var(--subtext-font);
  margin: auto;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.home-howitworks-wrapper {
  background-color: white;
}

.home-howitworks-header-wrapper {
  width: 60vw;
  margin: auto;
  margin-top: 5vw;
  margin-bottom: 3vw;
}

.howitworks-header-txt {
  font-family: var(--header-font);
  color: var(--blue);
  font-size: 24px;
}

.howitworks-header-subtxt {
  font-family: var(--subtext-font);
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
}

.home-howitworks-content-wrapper {
  display: flex;
  margin-top: 3vw;
  margin-bottom: 5vw;
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
}

.howitworks-content-tile-wrapper {
  display: flex;
  flex-direction: column;
  width: 20vw;
  margin: auto;
  font-family: var(--subtext-font);
}

.howitworks-content-title-icon {
  width: 5vw;
  height: 5vw;
  margin: auto;
}

.howitworks-content-tile-title {
  font-family: var(--header-font);
  color: var(--blue);
  font-size: 16px;
}

.howitworks-content-tile-subtext {
  margin-top: 0;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--subtext-font);
  font-size: 14px;
}

@media screen and (max-width: 750px) {
  .home-page-blurb {
    font-size: 24px;
  }

  .search-input-wrapper {
    font-size: 16px;
  }

  #test-search-input {
    font-size: 16px;
  }

  .search-result {
    font-size: 16px;
  }

  .search-results-empty-txt {
    font-size: 16px;
  }

  .howitworks-content-tile-title {
    font-size: 14px;
  }

  .howitworks-content-tile-subtext {
    font-size: 12px;
  }

  .howitworks-header-subtxt {
    font-size: 14px;
  }

  .howitworks-header-txt {
    font-size: 22px;
  }
}

@media screen and (max-width: 665px) {
  .search-results {
    padding-left: 10px;
  }
  
  .setlist-results {
    display: flex;
    overflow-x: scroll;
    height: fit-content;
    padding-left: 0;
    padding-right: 0;
  }

  .setlist-results {
    width: 90vw;
    margin: auto;
    margin-bottom: 2vw;
  }
}

@media screen and (max-width: 625px) {
  .home-page-blurb {
    font-size: 20px;
  }

  .search-input-wrapper {
    font-size: 16px;
  }

  #test-search-input {
    font-size: 16px;
  }
  .search-results-empty-txt {
    font-size: 16px;
  }

  .howitworks-content-tile-title {
    font-size: 14px;
  }

  .howitworks-content-tile-subtext {
    font-size: 12px;
  }

  .howitworks-header-subtxt {
    font-size: 14px;
  }

  .howitworks-header-txt {
    font-size: 18px;
  }
 
  .home-howitworks-content-wrapper {
    flex-direction: column;
    margin-top: 0;
  }

  .home-howitworks-header-wrapper {
    margin-bottom: 0;
  }

  .howitworks-content-tile-wrapper {
    width: 50vw;
    margin-top: 4vw;
  }

  .howitworks-content-title-icon {
    width: 10vw;
    height: 10vw;
  }
}

@media screen and (max-width: 520px) {
  .home-header-logo-txt {
    font-size: 20px;
  }

  .home-page-blurb {
    font-size: 16px;
  }

  .search-input-wrapper {
    font-size: 14px;
  }

  #test-search-input {
    font-size: 14px;
  }

  .search-result {
    font-size: 14px;
  }

  .search-results-empty-txt {
    font-size: 14px;
  }

}