@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Source+Serif+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=PT+Serif:wght@700&family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap');

/*
font-family: 'PT Serif', serif;
font-family: 'Ultra', serif;
*/

/*
box-shadow: 0px 0px 10px 0px black;
  transition: box-shadow 250ms ease-in;
*/


:root {
  --logo-font: "Ultra", serif;
  --subtext-font: 'Open Sans', sans-serif;
  /*--subtext-font: 'Cabin', sans-serif;*/
  /*--blue: #2c74e7;*/
  --blue: #14213d;
  /*--blue-hover: #3f88fc;*/
  --blue-hover: #003459;
  --text-color: #ffffff;
  --alt-color: #e5e5e5;
  --header-font: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: RubikDirt;
  src: url(RubikDirt-Regular.ttf);
}

a {
  color: white;
  text-decoration: none;
}

.home-outer-wrapper {
  min-height: 92vh;
  display: flex;
  flex-direction: column;
}

.home-wrapper {
  width: fit-content;
  height: fit-content;
  margin: auto;
  margin-top: 30vh;
  margin-bottom: 30vh;
}

.home-bkg-img-wrapper {
  position: absolute;
  z-index: 1;
}

.home-bkg-img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.artist-setlists {
  width: 45vw;
  margin-left: auto;
  margin-right: auto;
}

.search-results {
  background-color: white;
  width: 50vw;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  margin-top: 10px;
  border-radius: 5px;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
  transition: box-shadow 250ms ease-in;
}

.search-input-wrapper {
  margin: auto;
  display: flex;
  background-color: white;
  width: fit-content;
  font-size: 20px;
  border-radius: 50px;
  border: none;
  color: black;
  font-family: var(--subtext-font);
}

.search-input-wrapper:focus-within {
  outline: 1px solid var(--blue);
}

.search-input-icon-wrapper {
  display: flex;
  color: white;
  background: var(--blue);
  padding: 15px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: inherit;
}

.search-input-icon {
  margin: auto;
}

.home-artist-search-results-wrapper {
  width: 90vw;
  height: fit-content;
  display: flex;
  margin: auto;
  flex-direction: column;
}

.home-artist-search-header {
  display: flex;
}

.home-artist-search-header-txt-wrapper {
  display: flex;
}

.home-artist-cancel-search-btn {
  margin-left: auto;
  border-radius: 10px;
  font-family: var(--subtext-font);
  display: flex;
  color: var(--blue);
  padding-left: 5px;
  padding-right: 5px;
}

.home-artist-cancel-search-btn:hover{
  cursor: pointer;
  color: #5a87d1;
}

#home-artist-cancel-search-icon {
  height: fit-content;
  width: fit-content;
  margin: auto;
}

#home-artist-cancel-search-btn-txt {
  margin-left: 5px;
}

#artist-query-txt-left {
  font-family: var(--subtext-font);
}

#artist-query {
  font-family: var(--logo-font);
  color: var(--blue);
  margin-left: 5px;
}

#selected-artist-header {
  color: black;
  font-family: var(--subtext-font);
}

.selected-artist-wrapper {
  display: flex;

}

.test-wrapper {
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
  background-color: #EFEFEF;
  display: flex;
  flex-direction: column;
 /* background-image: linear-gradient(0, #402565, #30be96)*/
  /* background-image: linear-gradient(45deg, #000066, #6699ff)*/
}

.test-search-wrapper {
  width: 90vw;
  margin: auto;
  margin-top: 2vw
}

.test-artist-setlists {
  width: 90vw;
  margin: auto;
  margin-top: 5vw;
}

.App {
  /*background-image: url(images/paper-texture.jpg);*/
  /*background-color: #FAF9F6;*/
  background-color: var(--alt-color);
  width: 100vw;
  min-height: 100vh;
}

.artist-results-wrapper {
  width: 100vw;
  min-height: 100vh;
}

.search-result-name {
  color: black;
  font-family: var(--subtext-font);
}

.search-result-name:hover {
  cursor: pointer;
  color: #5a87d1;
}

.home-confirm-artist { 
  height: fit-content;
  margin: auto;
}

.home-page-blurb {
  font-size: 28px;
  color: var(--blue);
  width: 90vw;
  margin: auto;
  margin-bottom: 2vw;
  font-family: var(--header-font);
}

#test-search-header {
  font-size: 24px;
  color: var(--blue);
  width: fit-content;
  margin-left: 0;
  margin-bottom: 2vh;
  font-family: var(--subtext-font);
}

#test-search-input {
  width: 45vw;
  height: 3vw;
  font-size: 20px;
  border-radius: 50px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 0px;
  border: none;
  color: black;
  margin: auto;
  font-family: var(--subtext-font);
}

#test-search-input:focus {
  outline: none;
}

.delete-search-icon-wrapper {
  display: flex;
  width: 4vw;
}

.delete-search-icon {
  transform: rotateY(0deg) rotate(45deg);
  color: black;
  margin: auto;
  padding: 10px;
  height: 2vw;
}

.delete-search-icon:hover {
  cursor: pointer;
}

.test-search-button {
  width: fit-content;
  padding: 15px 15px;
  border-radius: 5px;
  background-color: #fafffd;
  margin: auto;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.test-search-button:hover {
  cursor: pointer;
  background-color: #bac1b8;
}

#test-search-button-text {
  padding: 0;
  margin: auto;
  color: black;
  font-family: var(--subtext-font);
}

#log-in-text {
  padding: 0;
  margin: auto;
  margin-bottom: 1vw;
  color: var(--blue);
  font-size: 20px;
  font-family: var(--logo-font);
}

.search-result-name {
  width: fit-content;
  margin: 0;
}

.search-result {
  width: 60vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  margin: auto;
  margin-left: 0;
}

.search-result:hover {
  color: var(--blue);
}

.search-result:hover {
  color: var(--blue);
  cursor: pointer;
}

.test-confirm-artist {
  width: 90vw;
  margin: auto;
  margin-top: 5vw;
}

#selected-artist-header {
  font-size: 24px;
  width: fit-content;
}

#selected-artist-name {
  font-size: 24px;
  width: fit-content;
  font-family: var(--logo-font);
  margin-left: 10px;
  margin-bottom: -5px;
  color: var(--blue);
}

.setlist-header {
  display: flex;
}

#confirmed-artist-header-name {
  font-size: 24px;
  color: var(--blue);
  font-family: var(--header-font);
  margin-top: auto + 10px;
  margin-right: 1vw;
  line-height: 1;
  margin-left: auto;
}

#confirmed-artist-header {
  font-size: 24px;
  color: black;
  font-family: var(--subtext-font);
  width: fit-content;
  line-height: 1;
  margin-right: auto;
}

.setlist-empty-results-wrapper {
  display: flex;
}

.setlist-empty-results-txt {
  font-size: 20px;
  font-family: var(--subtext-font);
  margin: auto;
}

.search-results-empty-wrapper {
  display: flex;
}

.search-results-empty-txt {
  font-size: 20px;
  font-family: var(--subtext-font);
  margin: auto;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.setlist-results {
  overflow-y: scroll;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 100vh;
}

.setlist-result {
  background-color: #fafffd;
  margin: auto;
  margin-left: 0;
  margin-bottom: 2vw;
  color: black;
  max-width: 500px;
  border-radius: 5px;
  padding: 1vw 2vw;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-family: var(--subtext-font);
}

.setlist-result:hover {
  cursor: pointer;
  border: 1px solid var(--blue);
}

.setlist-venue-name {
  font-size: 20px;
  color: black;
  width: fit-content;
  margin-bottom: 0;
  margin-right: 1vw;
}

.setlist-result-top {
  display: flex;
  height: fit-content;
}

.setlist-date {
  font-size: 20px;
  color: black;
  width: fit-content;
}

.setlist-venueu-location {
  font-size: 20px;
  color: black;
  width: fit-content;
  margin-left: 0vw;
  font-style: italic;
  margin-bottom: 0;
}

.setlist-songs-dropdown {
  width: fit-content;
  font-size: 20px;
}

.dropdown-button {
  cursor: pointer;
}

.setlist-songs-dropdow:hover {
  cursor: pointer;
}

.song-wrapper {
  display: flex;
  margin: auto;
  margin-right: auto;
  margin-left: 0;
  padding: 5px;
  width: fit-content;
}

.song-wrapper:hover {
  cursor: pointer;
  color: var(--blue-hover);
}

.song-num {
  width: fit-content;
}

.song-title {
  width: fit-content;
  margin-left: 1vw;
}

.song-title:hover {
  cursor: pointer;
  color: var(--blue);
}

.log-in-btn-img {
  max-width: 2vw;
  max-height: 2vw;
  min-width: 25px;
  min-height: 25px;
  margin: auto;
  margin-left: 1vw;
  margin-right: 1vw;
}

.log-in-btn-wrapper {
  width: fit-content;
  display: flex;
  border-radius: 10px;
  padding: 10px 5px;
  margin: auto;
  margin-right: 5vw;
}

.log-in-btn-wrapper:hover {
  cursor: pointer;
}

.log-in-btn-text {
  font-family: var(--header-font);
  color: white;
  font-size: 14px;
  margin-right: 1vw;
  width: fit-content;
  height: fit-content;
}

.log-out-btn-text {
  font-family: var(--header-font);
  color: white;
  font-size: 14px;
  margin-right: 1vw;
  width: fit-content;
  height: fit-content;
}

.home-header {
  background-color: var(--blue);
  width: 100vw;
  height: 8vh;
  display: flex;
}

.home-header-logo-wrapper {
  color: white;
  margin-right: auto;
  margin-left: 5vw;
  height: 8vh;
  display: flex;
}

.home-header-logo-wrapper:hover {
  cursor: pointer;
}

.home-header-logo-txt {
  margin: auto;
  font-size: 24px;
  font-family: var(--logo-font);
  /*color: var(--text-color);*/
}

.setlist-result-wrapper {
  margin: auto;
  display: flex;
  background-color: var(--alt-color);
}

.playlist-creator-wrapper {
  padding-bottom: 2vw;
  width: 45vw;
  margin-left: auto;
  margin-right: auto;
}

.playlist-creator-title {
  font-size: 24px;
  font-family: var(--subtext-font);
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vw;
  width: fit-content;
}

.playlist-songs-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
}

.playlist-song-wrapper {
  display: flex;
  margin-right: auto;
  font-family: var(--subtext-font);
}

.playlist-song-wrapper:hover {
  cursor: pointer;
}

.playlist-song-delete-btn {
  display: none;
}

.playlist-song-delete-icon {
  transform: rotateY(0deg) rotate(45deg);
  color: black;
  margin: auto;
  padding: 10px;
  height: 2vw;
}

.playlist-song-name {
  margin-left: 5px;
}

.howitworks-header-txt {
  font-family: var(--header-font);
  color: var(--blue);
  font-size: 24px;
}

.howitworks-header-subtxt {
  font-family: var(--subtext-font);
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
}

.home-howitworks-wrapper {
  background-color: white;
}

.home-howitworks-content-wrapper {
  display: flex;
  margin-top: 3vw;
  margin-bottom: 5vw;
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
}

.home-howitworks-header-wrapper {
  width: 60vw;
  margin: auto;
  margin-top: 5vw;
  margin-bottom: 3vw;
}

.howitworks-content-tile-wrapper {
  display: flex;
  flex-direction: column;
  width: 20vw;
  margin: auto;
  font-family: var(--subtext-font);
}

.howitworks-content-tile-title {
  font-family: var(--header-font);
  color: var(--blue);
  font-size: 16px;
}

.howitworks-content-tile-subtext {
  margin-top: 0;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--subtext-font);
  font-size: 14px;
}

.howitworks-content-title-icon {
  width: 5vw;
  height: 5vw;
  margin: auto;
}

.finalize-playlist-wrapper {
  margin: auto;
  width: 100vw;
  display: flex;
  background: var(--alt-color);
}

.finalize-playlist-left {
  width: 50vw;
  padding-left: 5vw;
}

.finalize-playlist-right {
  width: 50vw;
  padding-right: 5vw;
}

.finalize-playlist-right-songs {
  height: 88vh;
  overflow-y: scroll;
  width: inherit;
}

.finalize-playlist-header-txt {
  font-family: var(--logo-font);
  font-size: 24px;
  color: var(--blue);
}

.finalize-playlist-loading {
  display: flex;
  width: 100vw;
  height: 92vh;
}

.finalize-playlist-loading-text {
  font-family: var(--header-font);
  font-size: 20px;
  color: var(--blue);
  width: fit-content;
  margin: auto;
}

.finalize-playlist-complete-link {
  font-family: var(--header-font);
  font-size: 20px;
  color: var(--blue);
  width: fit-content;
  margin: auto;
}

.finalize-playlist-complete-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.playlist-song-outerwrapper {
  display: flex;
}

.playlist-song-num-wrapper {
  margin-left: auto;
  margin-right: 0;
  display: flex;
}

.playlist-song-num {
  margin: auto;
  font-family: var(--subtext-font);
}

.confirm-playlist-song-wrapper {
  display: flex;
  width: 25vw;
  background-color: #ffffff;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
  border-radius: 15px;
  padding: 2vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
  margin-left: 2vw;
  margin-right: auto;
}

.playlist-song-img-wrapper {
  display: flex;
  width: 35%;
  margin: auto;
}

.playlist-song-info-wrapper {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: auto;
  font-family: var(--subtext-font);
}

.playlist-song-img {
  width: 80%;
  margin: auto;
}

.confirm-playlist-song-name {
  width: fit-content;
  margin-right: auto;
  margin-top: 1vw;
  margin-bottom: 0.5vw;
  margin-left: 1vw;
  font-size: 14px;
  font-weight: bold;
}

.confirm-playlist-song-album {
  width: fit-content;
  margin-right: auto;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  font-size: 12px;
}

.confirm-playlist-bulletpoint {
  width: fit-content;
  margin: auto;
  margin-top: 0.5vw;
  margin-left: 0.25vw;
  margin-right: 0.25vw;
}

.confirm-playlist-song-artist {
  width: fit-content;
  margin-top: 0.5vw;
  margin-bottom: 1vw;
  margin-left: 1vw;
  font-size: 12px;
}

.confirm-playlist-song-bulletpoint {
  width: fit-content;
  margin: 0;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.playlist-song-album-artist-wrapper {
  display: flex;
}

.playlist-form-wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.playlist-form-title {
  font-family: var(--header-font);
  color: var(--blue);
  font-size: 24px;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.playlist-form-name-wrapper {
  display: flex;
  flex-direction: column;
}

.playlist-form-name-title {
  width: fit-content;
  font-family: var(--header-font);
  color: var(--blue);
}

.playlist-form-name-title {
  width: fit-content;
  font-family: var(--header-font);
  color: var(--blue);
}

.playlist-form-image-title {
  width: fit-content;
  font-family: var(--header-font);
  color: var(--blue);
}

.playlist-form-public-wrapper {
  display: flex;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.playlist-form-public-switch {
  left: 0;
  right: 0;
  margin: auto;
  margin-left: 2vw;
}

.playlist-form-name-input {
  margin: auto;
  margin-left: 0;
  width: 95%;
  display: flex;
  background-color: white;
  font-size: 20px;
  border-radius: 25px;
  height: 5vh;
  padding-left: 5%;
  border: 1px solid var(--blue);
  color: black;
  font-family: var(--subtext-font);
}

.playlist-form-name-input:focus {
  outline: none;
}

.playlist-confirm-form-wrapper {
  display: flex;
  margin: auto;
}

.error-text-wrapper {
  width: 100%;
  display: flex;
  /*background: white;*/
  margin-top: 2vw;
  /*border-radius: 15px;*/
}

.error-text {
  font-family: var(--header-font);
  margin: auto;
  color: #e80c1f;
  padding: 10px;
}

.confirm-playlist-btn-wrapper {
  margin: auto;
  margin-top: 2vw;
  background: var(--blue);
  color: white;
  font-family: var(--header-font);
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
  width: fit-content;
}

.confirm-playlist-btn-wrapper:hover {
  cursor: pointer;
  background: var(--blue-hover);
}

.playlist-confirm-form-btn {
  margin: auto;
  background: var(--blue);
  color: white;
  font-family: var(--header-font);
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
}

.playlist-confirm-form-btn:hover {
  cursor: pointer;
  background: var(--blue-hover);
}

.playlist-form-image {
  margin-top: 2vw;
}

.confirm-playlist-login {
  display: flex;
  margin-top: 1vw;
}

.confirm-playlist-login-link {
  font-family: var(--subtext-font);
  font-size: 16px;
  color: var(--blue);
  text-decoration: underline;
  width: fit-content;
  margin: auto;
  margin-right: 0;
}

.confirm-playlist-login-link:hover {
  cursor: pointer;
  font-weight: bold;
}

.confirm-playlist-login-text {
  font-family: var(--subtext-font);
  font-size: 16px;
  color: black;
  width: fit-content;
  margin-left: 1vw;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.empty-setlist-playlist-wrapper {
  width: inherit;
  display: flex;
}

.empty-setlist-playlist-text {
  font-family: var(--subtext-font);
  width: fit-content;
  margin: auto;
}

@media screen and (max-width: 750px) {
  .home-page-blurb {
    font-size: 24px;
  }

  .search-input-wrapper {
    font-size: 16px;
  }

  #test-search-input {
    font-size: 16px;
  }

  .search-result {
    font-size: 16px;
  }

  .search-results-empty-txt {
    font-size: 16px;
  }

  .howitworks-content-tile-title {
    font-size: 14px;
  }

  .howitworks-content-tile-subtext {
    font-size: 12px;
  }

  .howitworks-header-subtxt {
    font-size: 14px;
  }

  .howitworks-header-txt {
    font-size: 22px;
  }
}

@media screen and (max-width: 625px) {
  .home-page-blurb {
    font-size: 20px;
  }

  .search-input-wrapper {
    font-size: 16px;
  }

  #test-search-input {
    font-size: 16px;
  }

  .search-result {
    font-size: 16px;
  }

  .search-results-empty-txt {
    font-size: 16px;
  }

  .howitworks-content-tile-title {
    font-size: 14px;
  }

  .howitworks-content-tile-subtext {
    font-size: 12px;
  }

  .howitworks-header-subtxt {
    font-size: 14px;
  }

  .howitworks-header-txt {
    font-size: 18px;
  }
 
  .home-howitworks-content-wrapper {
    flex-direction: column;
    margin-top: 0;
  }

  .home-howitworks-header-wrapper {
    margin-bottom: 0;
  }

  .howitworks-content-tile-wrapper {
    width: 50vw;
    margin-top: 4vw;
  }

  .howitworks-content-title-icon {
    width: 10vw;
    height: 10vw;
  }
}

@media screen and (max-width: 665px) {
  .setlist-result-wrapper {
    flex-direction: column;
  }

  .artist-setlists {
    width: 90vw;
  }

  .setlist-results {
    display: flex;
    overflow-x: scroll;
    height: fit-content;
    padding-left: 0;
    padding-right: 0;
  }

  .setlist-result {
    margin-right: 2vw;
    width: 40vw;
  }

  .setlist-venue-name {
    font-size: 14px;
  }

  .setlist-venueu-location {
    font-size: 14px;
  }

  .setlist-date {
    font-size: 14px;
  }

  .setlist-songs-dropdown {
    font-size: 14px;
  }

  .artist-results-wrapper {
    min-height: 100vh;
    background: var(--alt-color);
  }

}

@media screen and (max-width: 520px) {
  .home-header-logo-txt {
    font-size: 20px;
  }

  .log-in-btn-img {
    min-width: 15px;
    min-height: 15px;
  }

  .log-in-btn-text {
    font-size: 12px;
  }

  .home-page-blurb {
    font-size: 16px;
  }

  .search-input-wrapper {
    font-size: 14px;
  }

  #test-search-input {
    font-size: 14px;
  }

  .search-result {
    font-size: 14px;
  }

  .search-results-empty-txt {
    font-size: 14px;
  }

}